body {
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    background-color: #5E6C5B;
    padding: 10px;
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .AdminPageh2{
    padding-right: 70px;
    color: white;   
  }
  .hamburger {
    padding-left: 25px;
    font-size: 24px;
    cursor: pointer;
    color: white;
  }
  
  .nav-menu {
    display: none;
    flex-direction: column;
    background-color: #5E6C5B;
    padding: 10px;
    position: absolute;
    top: 50px;
    left: 0;
    width: 50%;  
    height: 100vh;  
    overflow-y: auto;   
  }
  
  .nav-menu.open {
    display: flex;
  }
  
  .nav-menu a {
    color: white;
    text-decoration: none;
    padding: 10px 0;
  }
  
  .dropdown {
    display: flex;
    position: relative;
  }
  
  .dropdown-content {
    display: none;
    flex-direction: column;
    background-color: #5E6C5B;
    position: absolute;
    top: 0;
    left: 100%;
  }
  
  .dropdown:hover .dropdown-content {
    display: flex;
  }
  
  .dropdown-content a {
    padding: 10px;
  }
  
  @media (min-width: 768px) {
    .hamburger {
      display: block;  /* Ensure hamburger is always visible */
    }
  
    .nav-menu {
      display: none;  /* Navigation menu initially hidden */
    }
  
    .nav-menu.open {
      display: flex;  /* Show navigation menu when open */
      flex-direction: column;  /* Ensure it displays as a column */
    }
  
    .nav-menu a,
    .dropdown-content a {
      padding: 10px;
    }
  
    .dropdown-content {
      position: absolute;
      top: 40px;
      left: 0;
    }
  }
  

  .card-grid {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
  }
  
  .card {
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 20px;
    width: 30%;
    text-align: center;
  }

  .card-iconO {
    font-size: 30px;
    margin-left: -90%;
    margin-bottom: 20%;
    border-radius: 10px;
  }
  
  .card-titleO {
    font-size: 18px;
    font-weight: bold;
    margin-left: -70%;
    margin-bottom: 10%;
  }
  
  .card-contentO {
    font-size: 16px;
  }
  .card-iconJ {
    font-size: 30px;
    margin-left: -90%;
    margin-bottom: 20%;
    border-radius: 10px;
  }
  
  .card-titleJ {
    font-size: 18px;
    font-weight: bold;
    margin-left: -70%;
    margin-bottom: 10%;
  }
  
  .card-contentJ {
    font-size: 16px;
  }
  .card-iconK {
    font-size: 30px;
    margin-left: -90%;
    margin-bottom: 20%;
    border-radius: 10px;
  }
  
  .card-titleK {
    font-size: 18px;
    font-weight: bold;
    margin-left: -50%;
    margin-bottom: 10%;
  }
  
  .card-contentK {
    font-size: 16px;
  }

  .welcome-message {
    background-color: #5E6C5B;
    color: white;
    padding: 60px;
    text-align: left;
    margin: 20px 0;
    border-radius: 5px;
  }
  
  .welcome-message h2 {
    margin: 0 0 10px;
  }
  
  .welcome-message p {
    margin: 0;
  }
  
  /*  Kelola pesanan*/
  
 
  h1 {
    text-align: left;
    margin: 40px;
    padding-top: 100px;
  }

  .entries-selector {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: -50px;
    color: #666;
  }
  
  
  .entries-selector label {
    margin-right: 8px;
  }
  
  .entries{
    margin: 0 8px;
    padding: 4px;
    font-size: 14px;
  }

  .Entries{
    border: solid 1px #6666;
    margin: 0 8px;
    padding: 3px 15px;
    font-size: 14px;
  }

  .Showing{
    font-size: 16px;
    color: #666;
  }
  
  
  .table-container {
    overflow-x: auto;
    margin: 40px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    border: 1px solid #000;
  }
  .cart-judul{
    border: 1px solid #000;
  }
  .cart-judul, .sel {
    border: 1px solid #BCBCBC;
    padding: 8px;
    text-align: center;
  }
  th, td {
    padding: 10px;
    text-align: left;
   
  }
  
  thead {
    background-color: #f4f4f4;
  }
  
  .status {
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
  }
  
  .status-success {
    background-color: #28a745;
    padding: 6px 50px;
  }
  
  .status-pending {
    background-color: #ffc107;
    padding: 6px 50px;
  }
  
  .status-shipping {
    background-color: #007bff;
    padding: 6px 48px;
  }
  
  .pagination {
    font-size: 14px;
    color: #666;
    margin-left: -86%;
  }
  
  .pagination-button {
    display: flexbox;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 8px 12px;
    margin-left: 86%;
    cursor: pointer;
    font-size: 14px;
   
  }
  .pagination-buttonw {
    display: flexbox;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
   
  }
  
  .pagination-button:hover {
    background-color: #e0e0e0;
  }
  
  .pagination-current {
    display: flexbox;
    background-color: #5f6d5f;
    color: #fff;
    padding: 8px 12px;
    margin: 0 2px;
    border: 1px solid #ddd;
    text-align: center;
    width: 30px;
  }

  

  /* Kategori.css */
.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }


  .h2Kategori{
    text-align: left;
    margin-left: 127px;
    padding-bottom: 20px;
    padding-top: 80px;
  }

  .entries-selector-kat {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-left: 127px;
    margin-top: -20px;
    margin-bottom: -30px;
    color: #666;
  }
  
  
  .entries-selector-kat label {
    margin-right: 8px;
  }
  
  .entries{
    margin: 0 8px;
    padding: 4px;
    font-size: 14px;
  }

  .Entries{
    border: solid 1px #6666;
    margin: 0 8px;
    padding: 3px 15px;
    font-size: 14px;
  }

  .add-category-button {
    display: block;
    position: absolute;
    background-color: #5E6C5B;
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    left: 1100px;
    top: 220px;
  }
  
  .add-category-button:hover {
    background-color: #4b6137;
  }
  
  .category-table {
    overflow-x: auto;
    width: 100%;
    margin: 0;
  }
  
  .category-table th,
  .category-table td {
    border: 1px solid #ddd;
    padding: 10px 10px;
    text-align: center;
  }
  
  .category-table th {
    background-color: #5E6C5B;
    color: white;
  }
  
  .category-table td {
    background-color: #f9f9f9;
  }
  
  .pagination {
    margin-top: 400px;
    display: flex;
    justify-content: space-between;
  }
  
  .prev-button,
  .next-button {
    background-color: #5f7a47;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .prev-button:hover,
  .next-button:hover {
    background-color: #4b6137;
  }
  
  .pagination-buttonK {
    display: flexbox;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 8px 12px;
    margin-left: 84%;
    cursor: pointer;
    font-size: 14px;
   
  }
  .pagination-buttony {
    display: flexbox;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
   
  }
  
  .pagination-button:hover {
    background-color: #e0e0e0;
  }
  
  .pagination-current {
    display: flexbox;
    background-color: #5f6d5f;
    color: #fff;
    padding: 8px 12px;
    margin: 0 2px;
    border: 1px solid #ddd;
    text-align: center;
    width: 30px;
  }
  
  /* Daftar Produk */
  .pagination-buttonP {
    display: flexbox;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 8px 12px;
    margin-left: 85%;
    cursor: pointer;
    font-size: 14px;
   
  }
  .pagination-buttonO {
    display: flexbox;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
   
  }
  
  .pagination-button:hover {
    background-color: #e0e0e0;
  }
  
  .add-product-button {
    display: block;
    position: absolute;
    background-color: #5E6C5B;
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    left: 1150px;
    top: 220px;
  }
  
  .add-product-button:hover {
    background-color: #4b6137;
  }

  .pagination-current {
    display: flexbox;
    background-color: #5f6d5f;
    color: #fff;
    padding: 8px 12px;
    margin: 0 2px;
    border: 1px solid #ddd;
    text-align: center;
    width: 30px;
  }

  .entries-selectoru {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #666;
  }
  
  .entries-selectoru label {
    margin-right: 8px;
  }
  
  .entriesu{
    margin: 0 8px;
    padding: 4px;
    font-size: 14px;
  }

  .Entriesu{
    border: solid 1px #6666;
    margin: 0 8px;
    padding: 3px 15px;
    font-size: 14px;
  }

  .Showing{
    font-size: 16px;
    color: #666;
  }
  
  /* Payment.css */
  .container {
    width: 80%;
    margin: auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }


  .h2Pembayaran{
    text-align: left;
    margin-left: 127px;
    margin-bottom: 30px;
    padding-top: 80px;
  }


  .entries-selector-pay {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-left: 127px;
    margin-top: -20px;
    margin-bottom: -30px;
    color: #666;
  }
  
  
  .entries-selector-pay label {
    margin-right: 8px;
  }
  
  .entries{
    margin: 0 8px;
    padding: 4px;
    font-size: 14px;
  }

  .Entries{
    border: solid 1px #6666;
    margin: 0 8px;
    padding: 3px 15px;
    font-size: 14px;
  }
  
  .add-payment-button {
    display: block;
    position: absolute;
    background-color: #5E6C5B;
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 80px;
    margin-top: -25px;
  }
  
  .add-payment-button:hover {
    background-color: #4b6137;
  }
  
  
  .pagination {
    margin-top: 400px;
    display: flex;
    justify-content: space-between;
  }
  
  .prev-button,
  .next-button {
    background-color: #5f7a47;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .prev-button:hover,
  .next-button:hover {
    background-color: #4b6137;
  }
  
  .pagination-buttonK {
    display: flexbox;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 8px 12px;
    margin-left: 84%;
    cursor: pointer;
    font-size: 14px;
   
  }
  .pagination-buttony {
    display: flexbox;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
   
  }
  
  .pagination-button:hover {
    background-color: #e0e0e0;
  }
  
  .pagination-current {
    display: flexbox;
    background-color: #5f6d5f;
    color: #fff;
    padding: 8px 12px;
    margin: 0 2px;
    border: 1px solid #ddd;
    text-align: center;
    width: 30px;
  }

  .payment-table {
    overflow-x: auto;
    width: 100%;
    margin: 0;
  }
  
  .payment-table th,
  .payment-table td {
    border: 1px solid #ddd;
    padding: 10px 10px;
    text-align: center;
  }
  
  .payment-table th {
    background-color: #5E6C5B;
    color: white;
  }
  
  .payment-table td {
    background-color: #f9f9f9;
  }
  
  .pagination {
    margin-top: 400px;
    display: flex;
    justify-content: space-between;
  }

  /* Customer.css */
  .container {
    width: 80%;
    margin: auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }


  .h2Pelanggan {
    text-align: left;
    margin-left: 127px;
    margin-bottom: 30px;
    padding-top: 80px;
  }

  .entries-selector-cus {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-left: 127px;
    margin-top: -20px;
    margin-bottom: -30px;
    color: #666;
  }
  
  
  .entries-selector-cus label {
    margin-right: 8px;
  }
  
  .entries{
    margin: 0 8px;
    padding: 4px;
    font-size: 14px;
  }

  .Entries{
    border: solid 1px #6666;
    margin: 0 8px;
    padding: 3px 15px;
    font-size: 14px;
  }
  
  .add-payment-button {
    display: block;
    position: absolute;
    background-color: #5E6C5B;
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    left: 1025px;
    top: 250px;
  }
  
  .add-payment-button:hover {
    background-color: #4b6137;
  }
  
  
  .pagination {
    margin-top: 400px;
    display: flex;
    justify-content: space-between;
  }
  
  .prev-button,
  .next-button {
    background-color: #5f7a47;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .prev-button:hover,
  .next-button:hover {
    background-color: #4b6137;
  }
  
  .pagination-buttonK {
    display: flexbox;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 8px 12px;
    margin-left: 84%;
    cursor: pointer;
    font-size: 14px;
   
  }
  .pagination-buttony {
    display: flexbox;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
   
  }
  
  .pagination-button:hover {
    background-color: #e0e0e0;
  }
  
  .pagination-current {
    display: flexbox;
    background-color: #5f6d5f;
    color: #fff;
    padding: 8px 12px;
    margin: 0 2px;
    border: 1px solid #ddd;
    text-align: center;
    width: 30px;
  }

  .customer-table {
    overflow-x: auto;
    width: 100%;
    margin: 0;
  }
  
  .customer-table th,
  .customer-table td {
    border: 1px solid #ddd;
    padding: 10px 10px;
    text-align: center;
  }
  
  .customer-table th {
    background-color: #5E6C5B;
    color: white;
  }
  
  .customer-table td {
    background-color: #f9f9f9;
  }
  
  .pagination {
    margin-top: 400px;
    display: flex;
    justify-content: space-between;
  }


  /* Staff.css */
  .container {
    width: 80%;
    margin: auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }


  .h2Staff {
    text-align: left;
    margin-left: 127px;
    margin-bottom: 30px;
    padding-top: 80px;
  }

  
  .entries-selector-staff {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-left: 127px;
    margin-top: -20px;
    margin-bottom: -30px;
    color: #666;
  }
  
  
  .entries-selector-staff label {
    margin-right: 8px;
  }
  
  .entries{
    margin: 0 8px;
    padding: 4px;
    font-size: 14px;
  }

  .Entries{
    border: solid 1px #6666;
    margin: 0 8px;
    padding: 3px 15px;
    font-size: 14px;
  }

  .add-payment-button {
    display: block;
    position: absolute;
    background-color: #5E6C5B;
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    left: 1025px;
    top: 250px;
  }
  
  .add-payment-button:hover {
    background-color: #4b6137;
  }
  
  
  .pagination {
    margin-top: 400px;
    display: flex;
    justify-content: space-between;
  }
  
  .prev-button,
  .next-button {
    background-color: #5f7a47;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .prev-button:hover,
  .next-button:hover {
    background-color: #4b6137;
  }
  
  .pagination-buttonK {
    display: flexbox;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 8px 12px;
    margin-left: 84%;
    cursor: pointer;
    font-size: 14px;
   
  }
  .pagination-buttony {
    display: flexbox;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
   
  }
  
  .pagination-button:hover {
    background-color: #e0e0e0;
  }
  
  .pagination-current {
    display: flexbox;
    background-color: #5f6d5f;
    color: #fff;
    padding: 8px 12px;
    margin: 0 2px;
    border: 1px solid #ddd;
    text-align: center;
    width: 30px;
  }

  .staff-table {
    overflow-x: auto;
    width: 100%;
    margin: 0px;
  }
  
  .staff-table th,
  .staff-table td {
    border: 1px solid #ddd;
    padding: 10px 10px;
    text-align: center;
  }
  
  .staff-table th {
    background-color: #5E6C5B;
    color: white;
  }
  
  .staff-table td {
    background-color: #f9f9f9;
  }
  
  .pagination {
    margin-top: 400px;
    display: flex;
    justify-content: space-between;
  }