

body {
  font-family: inter;
}
/* Navabar */
.navbar {
  background-color: #5E6C5B;
  position: relative; 
  width: 100%; 
  height: 100px;
  z-index: 1000; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: -50px;
  padding: 10px;
}

.brand-logo {
  margin-top: -50px;
  margin-left: -1%;
}

.nav-list {
  list-style: none;
  margin-top: -50px;
  display: flex;
  font-size: 16px;
  margin-right: -200px;
}

.nav-list li {
  margin-right: 20px;
}

.nav-list a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  transition: 0.2s ease-in-out;
  padding-left: 25px;
  padding-right: 25px;
}

.nav-list a:hover {
  color: #000;
}

.btn-login {
  list-style: none;
  display: inline-block;
  margin-top: -75px;
  text-decoration: none;
  background-color: #ffff;
  color: #000000;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  padding: 10px 50px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.login-btn:hover {
  background-color: #333;
  }

/* Navbar end */
.ad-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 70px;
    background-color: #fff;
  }
  
  .content {
    max-width: 30%;
  }
  
  .content h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 0.5rem;
  }
  
  .content h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    margin-top: -30%;
    margin-left: -0%;
    color: #000;
  }
  
  .content p {
    font-size: 1rem;
    text-align: justify;
    color: #666;
    margin-bottom: 1.5rem;
  }
  
  .shop-btn {
    padding: 10px 20px;
    text-decoration: none;
    background-color: #5E6C5B; 
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
  }
  
  .shop-btn:hover {
    background-color: #5E6C5B; 
  }
  
  .image img {
    max-width: 60%;
    margin-left: 40%;
  }
  
  /* Feature Btn */
  .features {
    display: flex;
    justify-content: space-between;
    padding: 70px;
    margin-top: -60px;
  }
  
  .feature1, .feature2, .feature3, .feature4 {
    display: flex;
    text-align: center;
    background-color: #5E6C5B;
    border-radius: 15px;
    padding: 10px;
  }
  
  .feature1 img, .feature2 img, .feature3 img, .feature4 img{
    margin-top: 24px;
    width: 40px;
    height: 40px;
  }
  
  .feature1 p, .feature2 p, .feature3 p, .feature4 p {
    margin-top: 20px;
    font-size: 26px;
    font-weight: bold;
    color: #ffff;
    padding: 5px;
  }

  /* sad */
  .delivery-section {
    display: flex;
    align-items: center;
    padding: 70px;
    background-color: #D9D9D9;
    border-radius: 10px;
    margin: 70px;
    margin-top: -20px;
  }

  .delivery-content {
    max-width: 50%;
  }
  
  .delivery-content h1 {
    font-size: 3rem;
    font-family: DM serif Display;
    color: #000;
    font-weight: bold;
  }
  
  .delivery-content p {
    font-size: 1rem;
    color: #555;
    margin: 20px 0;
  }
  
  .shop-now-btn {
    padding: 10px 20px;
    background-color: #5E6C5B;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
  }
  
  
  .delivery-image img {
    max-width: 90%;
    margin-left: 20%;
    border-radius: 10px;
  }
  
 /* Categori */
 .categories {
  display: flex;
  justify-content: space-between;
  align-items: center;    
  padding: 70px;
}

.category {
  background-color: #5E6C5B; 
  color: white;
  text-align: center;
  flex: 10;
  margin: 50px;
  padding-top: 40px;
  height: 300px;  
  border-radius: 8px;
  position: relative;
}

.category1 img {
  position: absolute;
  width: 120%;
  height: 127%;
  margin-top: -120px;
  margin-left: -170px;  
}
.category2 img {
  position: absolute;
  width: 94%;
  height: 120%;
  margin-top: -100px;
  margin-left: -180px; 
}

.category-content {
  position: relative; 
  z-index: 2; 
  padding: 20px; 
}

.category-content h2 {
  font-size: 40px;
  margin: 0;
  margin-top: -7%;
  text-align: left;
}

.shop-now {
  margin-left: -81%;
  color: white;
  text-decoration: none;
  font-size: 18px;
  margin-top: 35%;
  display: inline-block;
}

  /* fsdf */
  .collection-compo {
    text-align: center;
  }
  .collection-images img {
    width: 80%; 
    height: auto;
  }

/*  Card */

  .product-card-display h4 {
    font-size: 36px;
    font-weight: 600;
    padding-left: 120px;
  }

  .product-card {
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .product-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 15px;
  }

  .product-card h3{
    font-size: 16px;
  }

  .price {
    color: #000;
    font-weight: bold;
    margin-left: -100px;
  }
  
  .old-price {
    text-decoration: line-through;
    color: #888;
    margin-top: -39px;
    margin-left: 100px;
  }
  
  .view-button {
    text-decoration: none;
    background-color: #5E6C5B;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
  }

  .product-grid-container {
    display: grid;
    text-align: center;
    margin: 70px;
    margin-top: 15%;
    padding: 200px;
    background-color: #e0e0e0;
  }

  .product-grid-container h1 {
    margin-top: -400px;
    margin-left: 280px;
    font-size: 36px;
    color: #333;
  }
  
  .product-grid-container h2 {
    margin-left: -62%;
    font-size: 24px;
    color: #555;
  }
  .product-women-container {
    display: grid;
    text-align: center;
    margin: 70px;
    padding: 200px;
  }
  .product-men-container {
    display: grid;
    text-align: center;
    margin: 70px;
    padding: 200px;
  }

  .category-header {
    margin-top: -22.5%;
    width: 100%;
    height: 10%;
    background-color: #d3d3d3;
    padding: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .category-header h1 {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    margin-top: -110px;
  }
  
  .category-buttons {
    display: flex;
    margin-top: -140px;
    justify-content: center;
    margin-bottom: 20px;
    background-color: #ffff;
    padding: 18px;
    border: 1px solid #000;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  .category-button {
    display: flex;
    padding: 20px 60px;
    margin:  10px;
    border: none;
    border-radius: 5px;
    background-color: #e0e0e0;
    color: #000;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: background-color 0.3s, color 0.3s;
  }
  .category-button {
    font-size: 16px;
    font-weight: bold;
  }
  
  .category-button.active {
    background-color: #5a6e4f;
    color: #fff;
  }
  
  .category-image {
    display: flex;
    width: 40px;
    height: 40px;
    padding-left: 10px;
    margin-bottom: -30px;
    margin-left: -120px;
  }

  
  .product-grid h1 {
    margin-top: 20px;
    margin-left: 10px;
    font-size: 36px;
    color: #333;
  }
  
  .product-grid h2 {
    margin-left: 20px;
    font-size: 24px;
    color: #555;
  }
  
  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    justify-items: center;
  }
    

  /*Detai Product*/
  .wadah {
    margin: 0 auto;
    padding: 1rem;
  }
  
  .kartu-produk {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    padding: 1.5rem;
    margin: 1rem 0;
  }
  
  .gambar-produk {
    width: 100%;
    max-width: 75%;
  }

  .product-title {
    font-weight: bold;
    margin-left: 150px;
  }
  
  .info-produk {
    width: 100%;
    padding: 1rem;
  }

  .info-pilihan {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .judul-info {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .garis {
    margin: 1rem 0;
    border-top: 1px solid #5E6C5B;
  }
  
  .detail-produk {
    margin-bottom: 1rem;
  }
  
  .detail-produk span {
    display: block;
    margin-bottom: 0.5rem;
  }

  .materials {
    display: flex;
    font-size: 15px;
    opacity: 85%;
  }

  .care-instructions {
    display: flex;
    font-size: 15px;
    opacity: 85%;
  }

  .font-bold{
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    font-weight: bold;
  }

  .font-bold span {
    background: #5E6C5B;
    color: white;
    padding: 5px;
  }
  
  .harga-produk {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .harga-produk span {
    font-size: 1.25rem;
  }
  
  .tombol-tambah {
    padding: 5px 20px;
    text-decoration: none;
    background-color: #5E6C5B; 
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
  }
  
  .tombol-tambah:hover {
    background-color: #004b23;
  }

   /* Cart Page */
.cart {
  margin: 70px;
}

.judul, .judul-sub {
  color: #333;
}

.tabel {
  border: 2px solid #BCBCBC;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.cart-judul, .sel {
  border: 1px solid #BCBCBC;
  padding: 8px;
  text-align: center;
}

.cart-judul {
  background-color: #5E6C5B;
  color: #fff;  
}

.gambar {
  width: 160px;
  height: auto;
}

.input-angka {
  width: 60px;
  padding: 5px;
}

.tombolr {
  padding: 10px 20px;
  color: white;
  background-color: #5a6e4f;
  border: none;
  cursor: pointer;
}

.tombolC {  
  text-decoration: none;
  padding: 10px 20px;
  color: white;
  background-color: #5a6e4f;
  border: none;
  cursor: pointer;
  margin: 10px;
  margin-left: 70%;
}

.tombol {
  padding: 10px 20px;
  color: white;
  background-color: #5a6e4f;
  border: none;
  cursor: pointer;
}

.div-konten {
  margin: 10px 0;
}

/* Order */

.statusP {
  background-color: #F69D34;
  border-radius: 5px;
  border: 1px solid #BCBCBC;
  padding: 8px;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 10px;
  text-align: center;
}

.div-konten-konfirmasi {
  margin: 10px 0;
  padding-top: 50px;
}

/* Cart Page */
.YourOrder {
  margin: 70px;
}

.Transaction {
  margin: 70px;
}

.div-konten-dropdown {
  display: block;
  position: absolute;
  left: 850px;
  top: 520px;
}

.BankList, .Dropdown.Menu {
  background-color: #5E6C5B ;
}

.judul, .judul-sub {
  color: #333;
}

.judul-kedua{
  color: #333;
  font-size: 18px;
  text-align: center;
}

.tabel {
  border: 2px solid #BCBCBC;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.order-judul, .sel {
  border: 1px solid #BCBCBC;
  padding: 8px;
  text-align: center;
}

.order-judul {
  background-color: #5E6C5B;
  color: #fff;  
}

.gambar {
  width: 160px;
  height: auto;
}

.input-angka {
  width: 60px;
  padding: 5px;
}

.Checkout {
  text-decoration: none;
  padding: 10px 20px;
  color: white;
  background-color: #5a6e4f;
  border: none;
  cursor: pointer;
}

.tombolU {
  display: grid;
  padding: 10px 22px;
  background-color: #fff;
  border: solid 2px;
  border-radius: 5px;
  border-color: #D9D9D9;
  cursor: pointer;
  margin-left: 138px;
  margin-bottom: 20px;
}

.tombolr {
  padding: 10px 20px;
  color: #000;
  border: solid 2px;
  border-radius: 5px;
  border-color: #D9D9D9;
  background-color: #fff;
  cursor: pointer;
}

.tombolC {  
  padding: 10px 20px;
  color: white;
  background-color: #5a6e4f;
  border: none;
  cursor: pointer;
  margin: 10px;
  margin-left: 70%;
}

.tombolW {  
  text-decoration: none;
  padding: 15px 20px;
  color: white;
  background-color: #5E6C5B;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 70%;
  display: block;
  position: absolute;
  left: -880px;
}

.tombolW img {
  width: 35px;
  height: 35px;
}

.tombol {
  padding: 10px 20px;
  color: white;
  background-color: #5a6e4f;
  border: none;
  cursor: pointer;
}

.div-konten {
  margin: 10px 0;
}

.Uang {
  margin: 102px
}

.priceO {
 margin-left: 13%;
 font-weight: bold;
}

.total-price-input {
  width: 30%;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  border: 2px solid #000;
  margin-top: 10px;
  color: #333;
}

/* Bank */
.bank{
  display: flex;
  height: 200px;
  margin-top: 100px;
  margin-left: 200px;

}
  
.judul-ketiga{
  color: #333;
  font-size: 18px;
  text-align: center;
  margin-top: 70px;
  padding: 70px;
}

.konten-check{
  margin: 10px 0;
}

.check {
  text-decoration: none;
  padding: 10px 200px;
  color: white;
  background-color: #5a6e4f;
  border: none;   
  border-radius: 7px;
  cursor: pointer;
  margin-left: 30%;
}