
.cont-log {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #5A6452; 
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #e6e6e6; 
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.h2-login {
    text-align: center;
    margin-bottom: 20px;
}

.form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-login input[type="text"],
.form-login input[type="password"] {
    width: 500px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    border-color: black;
}


.form-login .login-btn {
    text-align: center;
    text-decoration: none;
    width: 500px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #5E6C5B; 
    color: white; 
    transition: background-color 0.3s ease;
}


.form-login input[type="submit"]:hover {
    background-color: #ccc; 
}

.login-container2 {
    text-align: center;
    margin-top: 27px;
}

.h4-login {
    margin-top: 30px;
    font-size: 12px;
}

.p-login {
    font-size: 19px;
}

.p-login a {
    text-decoration: none;
    color: black;
}